<h1 class="jumbotron">Wine Cellar App</h1>
<h2>Wine Inventory Search</h2>
<input class="form-control" ng-model="searchWine" placeholder="Search Inventory...">
<table class="table" id="searchWineResults">
  <tr>
    <th>Quantity</th>
    <th>Vintage</th>
    <th>Grape</th>
    <th>Country</th>
    <th>Region</th>
    <th>Purveyor</th>
    <th>Style</th>
    <th>ID</th>
  </tr>
  <tr ng-repeat="wine in wines | filter:searchWine">
    <td><a ui-sref="show({ id: wine._id})">{{wine.quantity}}</a></td>
    <td><a ui-sref="show({ id: wine._id})">{{wine.vintage}}</a></td>
    <td><a ui-sref="show({ id: wine._id})">{{wine.grape}}</a></td>
    <td><a ui-sref="show({ id: wine._id})">{{wine.country}}</a></td>
    <td><a ui-sref="show({ id: wine._id})">{{wine.region}}</a></td>
    <td><a ui-sref="show({ id: wine._id})">{{wine.purveyor}}</a></td>
    <td><a ui-sref="show({ id: wine._id})">{{wine.style}}</a></td>
    <td><a ui-sref="show({ id: wine._id})">{{wine._id}}</a></td>
  </tr>
</table>




