<h1>Wine Cellar</h1>
<a ui-sref="newwine">New Wine</a>
<h2>Wine Inventory Search</h2>
Search: <input class="form-control" ng-model="searchWine">
<table class="table" id="searchWineResults">
  <tr>
    <th>Quantity</th>
    <th>Vintage</th>
    <th>Grape</th>
    <th>Country</th>
    <th>Region</th>
    <th>Purveyor</th>
    <th>Style</th>
  </tr>
  <tr ng-repeat="wine in wines | filter:searchWine">
    <td><a ui-sref="show({ id: wine.id})">{{wine.quantity}}</a></td>
    <td><a ui-sref="show({ id: wine.id})">{{wine.vintage}}</a></td>
    <td><a ui-sref="show({ id: wine.id})">{{wine.grape}}</a></td>
    <td><a ui-sref="show({ id: wine.id})">{{wine.country}}</a></td>
    <td><a ui-sref="show({ id: wine.id})">{{wine.region}}</a></td>
    <td><a ui-sref="show({ id: wine.id})">{{wine.purveyor}}</a></td>
    <td><a ui-sref="show({ id: wine.id})">{{wine.style}}</a></td>
  </tr>
</table>



