 <form class="form" ng-submit="addTaste(taste)">
   <input class="form-control focusedInput" placeholder="Add wine descriptor/flavor here..." type="text">
  <br>
  <select class="form-control form-control" id="taste_style"><option value="Select One">Select One</option>
    <option value="White">White</option>
    <option value="Red">Red</option>
    <option value="Sparkling">Sparkling</option>
    <option value="Rose">Rose</option>
  </select>
  <br>
  <input class="btn btn-primary btn-block" type="submit" value="Add Taste">
</form>
<a ui-sref="main">Cancel</a>
